obj/Debug/netcoreapp2.0/AProjekt-Supermarked.csproj.FileListAbsolute.txt
bin/Debug/netcoreapp2.0/AProjekt-Supermarked.dll
bin/Debug/netcoreapp2.0/AProjekt-Supermarked.pdb
bin/Debug/netcoreapp2.0/AProjekt-Supermarked.deps.json
bin/Debug/netcoreapp2.0/AProjekt-Supermarked.runtimeconfig.json
bin/Debug/netcoreapp2.0/AProjekt-Supermarked.runtimeconfig.dev.json
obj/Debug/netcoreapp2.0/AProjekt-Supermarked.dll
obj/Debug/netcoreapp2.0/AProjekt-Supermarked.pdb
obj/Debug/netcoreapp2.0/AProjekt-Supermarked.csproj.CoreCompileInputs.cache
