@using AProjekt_Supermarked.ViewModels
@model VMtest1

<h1>Specifik Vare</h1>



<a asp-area="" asp-action="Index" asp-controller="Shop">Index side</a><br />
<a asp-area="" asp-action="SpecifikVare" asp-controller="Shop">Specifik Vare side</a><br />
<a asp-area="" asp-action="Betaling" asp-controller="Shop">Betaling side</a><br />
<a asp-area="" asp-action="Opsumering" asp-controller="Shop">Opsumering side</a><br />
<br />
<br />

<h2>Valg : @ViewData["VareKategori"]</h2>

<div class="container-fluid">

@foreach(var vare in Model.Varer){
    
    <div class="row">
        <div class="col-md-6 Vare-Box">@vare.Navn</div>
        <div class="col-md-6 Util-Box">

            <a asp-controller="" asp-action="" class="btn btn-default">Læg i kurv</a>
        </div>
    </div>

}

@foreach(var tmp in Model.Kurven){
    <p>@tmp</p>
}

</div>
